ion-content {
  --background: #fff;
}

h1 {
  color: #333;
}

h1 span {
  color: #5b017d;
}

div {
  width: 100%;
  height: auto;
  text-align: center;
}
ion-img {
  max-width: 50vw;
  max-height: 50vh;
  margin: auto;
}

ion-content {
  background: #5b017d;
  color: #fff;
}

ion-button {
  --background: #5b017d;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform:translate(-50%, -50%)
}
.labelintro {
  color: #333;
  font-size: 14px;
}
