.drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.file-input-container {

    text-align: right;

    input[type="file"] {
        display: none;
    }

    label {
        border: 1px solid rgb(7, 1, 1);
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over { 
    border: dotted 3px rgb(117, 96, 235); 
}
