<ion-header>
  <ion-toolbar>
    <ion-title>Detailed Terms And Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6><b>AXIOM ZORN FARMER PROFILING ORAL CONSENT FORM</b></h6>
  <p>aXiom Zorn collects farmers data to support the visualization needs that attract several services that include but not limited the ones listed, (as elaborated by our agent);</p>
  <p></p>1.	Financial inclusion through their credit scoring models.
  <p></p>2.	Market access through clustering and publication. 
  <p></p>3.	Crop and soil health management services through ICTS.
  <p></p>4.	Insurance services. 
  <p></p>5.	Channeling projects suitable for your enterprises and type of production.<br><br>  
  <b>As a farmer;</b>
  <p>a)	You are therefore providing information voluntarily without coercion or intimidation and you are free to withdraw at any time you wish to do so.  </p>
  <p>b)	You are also free to decline to provide any information and nothing can be held against your decision for the same.</p>
  <p>c)	The data points collected including personal information, Production data, House hold economic data and other are to aid provision of highlighted services in previous section above.</p>
  <p>d)	Your analyzed data points shall be shared collectively to our partners providing services mentioned above.</p>
  <p>e)	Service providers with whom axiom Zorn establishes partnerships to provide the services shared can as well carry out background checks to tailor custom services to your benefit.</p>
  <p>f)	Your data shall be kept for up-to 3 years with seasonal updates collected with your consent.</p>
  <p>g)	 Your information shall be coded for safety purposes and stored on our cloud servers.</p>
  <p>h)	Agents may avail access to you your online profiles during the Data collection and update exercises to allow for correction as may prefer.</p>
</ion-content>
