<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Weekly Activities</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item class="ion-margin">
    <ion-label>Region</ion-label>
    <ion-select placeholder="Select One" interface="popover"[(ngModel)]="region">
      <ion-select-option value="Acholi">Acholi</ion-select-option>
      <ion-select-option value="Kigezi">Kigezi</ion-select-option>
      <ion-select-option value="Karamoja">Karamoja</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label>District</ion-label>
      <ion-select placeholder="Select One" interface="popover"[(ngModel)]="district">
        <ion-select-option value="Lamwo">Lamwo</ion-select-option>
          <ion-select-option value="Gulu">Gulu</ion-select-option>
          <ion-select-option value="Kaabong">Kaabong</ion-select-option>
          <ion-select-option value="Kotido">Kotido</ion-select-option>
         <ion-select-option value="Kanungu">Kanungu</ion-select-option>
         <ion-select-option value="Kisoro">Kisoro</ion-select-option>
        <ion-select-option value="Rukungiri">Rukungiri</ion-select-option>
       <ion-select-option value="Nwoya">Nwoya</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label>Subcounty</ion-label>
    <ion-select placeholder="Select One" interface="popover"[(ngModel)]="subcounty">
          <ion-select-option value="Anaka">Anaka</ion-select-option>
          <ion-select-option value="Koch goma">Koch Goma</ion-select-option>
          <ion-select-option value="Purongo">Purongo</ion-select-option>
          <ion-select-option value="Lil">Lil</ion-select-option>   
    </ion-select>
  </ion-item>
  
  <ion-item class="ion-margin">
    <ion-label>Select the Topic</ion-label>
      <ion-select placeholder="Select One" interface="popover"[(ngModel)]="topic">
        <ion-select-option value="Livelihood">Livelihood</ion-select-option>
          <ion-select-option value="Vsla/village meeting">Vsla/village meeting</ion-select-option>
          <ion-select-option value="Farming group meeting">Farming group meeting</ion-select-option>
          <ion-select-option value="Agro input Dealer">Agro input Dealer</ion-select-option>
         <ion-select-option value="Linkage to bank">Linkage to bank</ion-select-option>
         <ion-select-option value="Linkage to off-take market">Linkage to off-take market</ion-select-option>
        <ion-select-option value="Link to government activities">Linkage to government activities</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin">
    <ion-label>Select the activity performed</ion-label>
      <ion-select placeholder="Select One" interface="popover"[(ngModel)]="activity">
        <ion-select-option value="Lamwo">Lamwo</ion-select-option>
          <ion-select-option value="Gulu">Gulu</ion-select-option>
          <ion-select-option value="Kaabong">Kaabong</ion-select-option>
          <ion-select-option value="Kotido">Kotido</ion-select-option>
         <ion-select-option value="Kanungu">Kanungu</ion-select-option>
         <ion-select-option value="Kisoro">Kisoro</ion-select-option>
        <ion-select-option value="Rukungiri">Rukungiri</ion-select-option>
       <ion-select-option value="Nwoya">Nwoya</ion-select-option>
    </ion-select>
  </ion-item>
 
   <ion-button name="camera" (click)="takePicture()" expand="block">Take a picture of the Meeting</ion-button>
      <ion-item>
      <img [src]="currentImage" *ngIf="currentImage">
    </ion-item>  

    <ion-item class="ion-margin">
      <ion-label>Image Url</ion-label><br/>
      <ion-input type = "text" [(ngModel)]="Photo_url" value="{{imageData}}" readonly></ion-input>
    </ion-item>
    
    <ion-item class="ion-margin">
      <ion-label>Number of male members Attended</ion-label><br/>
      <ion-input type = "number" [(ngModel)]="males"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label>Number of Female members</ion-label>
      <ion-input type = "number" [(ngModel)]="females"clear-input="true"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label>Total Attendance</ion-label>
      <ion-input type = "number" [(ngModel)]="total" clear-input="true" ></ion-input>
    </ion-item>

    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>

    <ion-item class="ion-margin">
      <ion-label>Longitude</ion-label>
      <ion-input type="text"[(ngModel)]="lo" value="{{longitude}}"readonly></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label>Latitude</ion-label>
      <ion-input type="text"[(ngModel)]="la" value="{{latitude}}"readonly></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label>Name of Field Officer</ion-label>
      <ion-input type="text" [(ngModel)]="fo" value="{{name}}"readonly></ion-input>
    </ion-item>

    
      <ion-button (click)="Submit()" expand="block">
        Submit
      </ion-button>

</ion-content>
