.info-1 {
  font-size: 14px;
  color: #999;
}
.info-1 span {
  color: #5b017d;
  font-weight:bold;
}
ion-content {
  --background: #fff;
}
.padding{
  padding:30px;
}
ion-item {
  --background: #fff;
  color: #333;
}

div h1 {
  text-align: center;
  font-size: 30px;
  color: #000;
  font-weight:bold;
}
ion-img.image {
  max-width: 30vw;
  max-height: 30vh;
  margin: auto;
  color: #fff;
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
ion-button{
  --background:#5b017d;
  color:#fff;
}
.scroll-content {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
}
