<ion-header no-border>

</ion-header>

<ion-content class="ion-padding">

<div>
  <ion-img class="image" src="/assets/icon/user-circle.svg"></ion-img><br/>  

    <h1>Sign in to continue</h1>
  <ion-item class="ion-margin" >
    <ion-label  position="floating">Email</ion-label>
    <ion-input type = "text" placeholder="youlooknicetoday@email.com" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin" >
    <ion-label  position="floating" >Password</ion-label>
    <ion-input type = "password" placeholder="sshhh....." clear-input="true" [(ngModel)]="password" ></ion-input>
  </ion-item>

  <ion-button expand="full"class="ion_padding" (click)="tryLogin()">Login</ion-button>
  <p class = "ion-padding info-1">
  <span (click)="openRegister()">Click here</span> to register 
  </p>
</div>
</ion-content>
