ion-content {
    --background: #fff;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight:bold;
  }

  ion-item {
    --background: #fff;
    color: #333;
  }
  ion-button{
    --background:#5b017d;
    color:#fff;
  }