<ion-header >
  <!--  <ion-toolbar>
      <ion-buttons slot="start" [routerLink]="['/home']">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>New Activities</ion-title>
    </ion-toolbar>
  -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Available tools</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="success" size="medium"[routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-app>
  <ion-content>
    <ion-card [routerLink]="['/beneficiary']" class="ion-margin">
      <ion-card-header>
       <h5><center>CASA Profiling Tool</center></h5> 
      </ion-card-header>
    </ion-card>

    <ion-card [routerLink]="['/casaupdate']" class="ion-margin">
      <ion-card-header>
       <h5><center>CASA Update Tool</center></h5> 
      </ion-card-header>
    </ion-card>
    </ion-content>
  </ion-app>
