<ion-header >
<!--  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/home']">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Activities</ion-title>
  </ion-toolbar>
-->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>New Activities</ion-title>
  <ion-buttons slot="end">
    <ion-button fill="solid" color="success" size="medium"[routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <!--  <ion-item button [routerLink]="['/beneficiary']" class="ion-margin"> 
      <ion-label>
        Weekly Activities
      </ion-label>
  </ion-item > -->

  <ion-card [routerLink]="['/beneficiary']" class="ion-margin">
    <ion-card-header>
     <h5><center>Weekly Activities</center></h5> 
    </ion-card-header>
  </ion-card>
  
  <!--<ion-item button [routerLink]="['/agent']" class="ion-margin">
    <ion-label>
      Field Agent registration
  </ion-label>
   </ion-item>-->
</ion-list>
</ion-content>
